PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=1433
DB_NAME=WashCar
DB_USER=washcar_app
DB_PASS=CHANGE_ME
DB_TRUST_SERVER_CERT=true
DB_SYNCHRONIZE=false

JWT_SECRET=CHANGE_ME_STRONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d

FRONTEND_ORIGIN=http://localhost:4200
THROTTLE_TTL=60
THROTTLE_LIMIT=120
