<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Հետ</ion-button>
    </ion-buttons>
    <ion-title>Պայմաններ և ծառայություններ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Պայմաններ և ծառայություններ</h2>
  <p>
    Օգտագործելով հավելվածը՝ դուք համաձայնվում եք պատասխանատու կերպով պատվիրել ավտոլվացման
    ծառայություններ, տրամադրել ճշգրիտ հասցե և հարգալից շփվել օգնականների հետ։
  </p>
  <p>
    Վճարումների, պատվերի և չեղարկման կանոնները կարող են թարմացվել հավելվածի հաջորդ տարբերակներում։
  </p>
</ion-content>

